.review{
    min-height: 100px;
    min-width: 400px;
    border: 2px solid #f6ebe5;
}

.container{
    border: 1px solid black;
    border-radius: 5px;
    height: 120px;
    width: 400px;
}

.submit-button{
    display: flex;
    align-items: center;
    border: 2px solid black;
    padding: 2px;
}
