.image{
    width: 50%;
    height: 70%;
    display: flex;
    /* justify-content: start;  Da ceva probleme la compilare, lam comentat, Dragosh */
}

@font-face {
    font-family: subtitle;
    src: url(forever.ttf);
}

@font-face {
    font-family: Title;
    src: url(handmade.ttf);
}

@font-face {
    font-family: fontText;
    src: url(Fragmentcore.ttf)
}

.paragraf{
    font-family: fontText;
    font-size: 25px;
    list-style-type: none;
    width: 55%;
}

.paragraf2 {
    font-family: fontText;
    font-size: 25px;
    list-style-type: none;
}

.CentralContext{
    display: flex;
    justify-content: space-between;
}

.imgFooter{
    height: 20%;
    width: 20%;
}

.footer{
    display: flex;
    justify-content: space-around;
    padding: 1rem;
    background-color: white;
    height: auto;
    width: auto;
}

.image2 {
    display: flex;
    justify-content: flex-end;
}