.image{
    width: 50%;
    height: 70%;
    display: flex;
    justify-content: start;
}

@font-face {
    font-family: subtitle;
    src: url(forever.ttf);
}

@font-face {
    font-family: Title;
    src: url(handmade.ttf);
}

@font-face {
    font-family: fontText;
    src: url(shoftime.ttf);
}
.hello{
    font-family: fontText;
    font-size: 50px;
}