.nav_bar{
    background-color: #f6ebe5;
    display: flex;
    justify-content: center;
}

@font-face {
    font-family: textFont;
    src: url(Fragmentcore.ttf);
}

@font-face {
    font-family: header;
    src: url(handmade.ttf);
}

.header{
    font-family: header;
    font-size: 50px;
}

ul li {
    font-family: textFont;
    list-style-type: none;
    display: inline-block;
    padding: 1rem;
}



