.Rightbar {
  background-color: #fff;
 
   /* position: fixed; */
   /* top: 7%;
   right: 0;
   bottom: 10%;
   width: 20%; 
   padding: 2px; 
   overflow-y: scroll;  */
   
   }



.ChooseCountry select {
  width: 200px;
  padding: 8px;
  font-size: 16px;
  border: 2px solid #BF9270;
  margin: 2px;
  border-radius: 10px;

}

.CountryDetails img {
  width: 100px;
  height: auto;
  margin-bottom: 5px;
  padding: 10px;
}


.text-h4 {
  display: block;
  margin-block-start: 0.33em;
  margin-block-end: 0.33em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  background-color: #f6ebe5;
  color: #BF9270;
  padding: 10px 10px;
  border-radius: 5px;
  font-family: fontText;
}

.CountryDetails img.CoatOfArms {
  width: 60px;
  height: auto;
  
}

.CountryDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
 
}



.OpenMapsButton {
  background-color: #BF9270;
  color: white;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 5px;
  font-size: 20px;
  padding: 10px 30px;
  cursor: pointer;
  font-family: fontText;
  margin: 20px;
}

