@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .heading {
    @apply flex justify-start pt-8 pb-3 mx-auto text-3xl font-bold text-brown-600 max-w-7xl sm:px-6 lg:px-8
  }
  .para {
    @apply flex justify-center pb-3 mx-auto font-sans text-xl text-brown-400  max-w-7xl sm:px-6 lg:px-8
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
